{% include "toolbar.html" %}

<div class="container bg-dark h-100">
    <div class="py-4 mx-auto">
        {% for note in note_list %}
            <div class="card m-4" style="min-width: 16rem; min-height: 10rem;">
                <div class="card-body mb-1">
                    <h5 class="card-title" id="note_title_{{ note.id }}">{{ note.title }}</h5>
                    <p class="card-text" id="note_description_{{ note.id }}">{{ note.description }}</p>
                    <div class="mt-5 d-flex">Create date: <p class="px-2">{{ note.create_date }}</p></div>
                    <div class="d-flex">Planned date: <p class="px-2"
                                                         id="note_planned_date_{{ note.id }}">{{ note.planned_date }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary mx-2" data-toggle="modal" data-target="#EditNote"
                       onclick="insert_data({{ note.id }})">
                        Edit note
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="#" class="btn btn-danger mx-2" data-toggle="modal" data-target="#RemoveNote">
                        Remove note
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% include 'edit_note.html' %}

{% include 'remove_note.html' %}

{% include 'add_note.html' %}

<script>
    function insert_data(note_id) {
        $("#edit_form").attr("action", "/note/edit_note/"+note_id);
        document.getElementById('edit_note_title').value = document.getElementById('note_title_' + note_id).textContent
        document.getElementById('edit_note_description').textContent = document.getElementById('note_description_' + note_id).textContent
        document.getElementById('edit_note_date_field').value = document.getElementById('note_planned_date_' + note_id).textContent
    }
</script>