{% include "index.html" %}

<div class="h-100 w-100">
    <div style="margin-top: 20%;" class="d-flex justify-content-center">
        <div class="border border-success rounded text-center ml-3" data-toggle="modal"
             data-target="#LoginModal" style="width: 126px;">
            <a class="nav-link" href="#">Login </a>
        </div>
        <div class="border border-primary rounded text-center ml-5" data-toggle="modal"
             data-target="#RegisterModal" style="width: 126px;">
            <a class="nav-link" href="#">Register</a>
        </div>
    </div>
</div>

{% include 'login.html' %}

{% include 'register.html' %}