{% include "index.html" %}
<div style="margin-top: 20%" class="d-flex justify-content-center">
    <div class="border border-success rounded text-center ml-3" data-toggle="modal"
         data-target="#LoginModal" style="width: 126px;">
        <a class="nav-link text-success" href="#" style="font-weight: 600">Login </a>
    </div>
    <div class="border border-primary rounded text-center ml-5" data-toggle="modal"
         data-target="#RegisterModal" style="width: 126px;">
        <a class="nav-link text-primary" href="#" style="font-weight: 600">Register</a>
    </div>
</div>

{% include 'login.html' %}

{% include 'register.html' %}